APP_ENV=production
APP_URL=https://licora.yourdomain.com

LICENSE_DB_HOST=db
LICENSE_DB_NAME=licora
LICENSE_DB_USER=licora_user
LICENSE_DB_PASS=

MARIADB_ROOT_PASSWORD=

LICENSE_ENCRYPTION_KEY=
LICENSE_CSRF_SECRET=
LICENSE_JWT_SECRET=
